body{
    background-color:moccasin;
    height:100vp;
}


h4{
    display: inline;
}
.box>.insidebox{
    display:block;
}
.header{
    display:inline-flex ;
    gap: 20px;
    margin-top: 20px;

}
.box{
    display: inline-flex;
    flex-direction:row-reverse;
    gap:200px ;
    
}
